* {
	margin: 0%;
	padding: 0%;
    box-sizing: border-box;
    background-color: rgb(185, 253, 255);
  }

  hr.new1 {
    border: 5px solid rgb(84, 255, 84);
    border-radius: 5px;
  }

  a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
    width: 100%;
 }

  a:hover {
    color: rgb(108, 55, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    text-align-last: center;
    width: 20%;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
    border-radius: 20px;

  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: flex;
    clear: both;
  }

  pre.para {
    text-align: justify;  
    font-size: 16px;
  }

  .mycontainer {
    width:100%;
    overflow:auto;
  }
  .mycontainer div {
    width:33%;
    float:left;
  }

  h1:hover{
    transition: transform .2s; /* Animation */
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    background-color: transparent;
    text-decoration: none;
  }

  body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }